<% layout('layout/boilerplate2')%>
    <h1>back-end</h1>
    <div class="container">
        <% for ( let record of AuthorcontrollerSystem.orderRecord ) { %>
            <div class="card" style="max-width: 650px;" id="backend-card">
                <div class="card-body">
                    <h2><b>buyer id:</b> <%=record.buyer._id%></h2>
                    <h2><b>record id:</b><%=record.record._id%></h2>
                    <p><b>number:</b><%=record.record.number%></p>
                    <p><b>size:</b><%=record.record.size%></p>
                    <p><b>狀態:</b><%=record.record.status%></p>
                    <img  alt="" src="<%=record.record.commoditys.image%>">
                    <% if ( record.record.status === '未出貨' ) { %>
                    <form action="/shoppingstore/controller/<%=record._id%>/ConfirmSended">
                        <button class="btn btn-primary">確認出貨</button>
                    </form>
                    <% } %>
            
                    <% if ( record.record.status === '未收到' ) { %>
                    <form action="/shoppingstore/controller/<%=record._id%>/ConfirmSended">
                        <button class="btn btn-primary">再次出貨</button>
                    </form>
                    <% } %>
                    
                    <% if ( record.record.status === '確認收到' ) { %>
                    <form action="/shoppingstore/controller/<%=record._id%>/DeleteRecord">
                        <button class="btn btn-danger">刪除紀錄</button>
                    </form>
                    <% } %>
                </div>
            </div>
            
        <% } %>
    </div>
    
