<% layout('layout/boilerplate')%>
    <h1>Love</h1>
    <div class="container">
        <% for (let love of lovelist){%>
            <div class="card" style="max-width: 650px;" id="lovecard">
                <div class="card-body">
                    <h3>購買產品  <%= love.title %></h3>
                    <img src="<%=love.image%>" alt="">
                    <h4>價格: <%= love.title %></h4>
                    <h4>類型: <%= love.type %></h4>
                    <p><%= love.description %></p>
                </div>
                <form action="/shoppingstore/<%=love._id%>">
                    <button class="btn btn-primary">Go!</button>
                </form>
                <form action="/shoppingstore/<%=love._id%>/DeleteLove" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>     
        <% } %>
    </div>
    
