<% layout('layout/boilerplate')%>
    <h1>shop car</h1>
    <div class="container">
        <% for (let shopcar of shopcars){%>
            <div class="card" style="max-width: 650px;" id="shopcarcard">
                <div class="card-body">
                    <h3>購買產品  <%= shopcar.commoditys.title %></h3>
                    <img src="<%=shopcar.commoditys.image%>" alt="">
                    <h4>價格: <%= shopcar.commoditys.title %></h4>
                    <h4>類型: <%= shopcar.commoditys.type %></h4>
                    <p><%= shopcar.commoditys.description %></p>
                    <p>訂單數: <%= shopcar.number %>, 型號: <%= shopcar.size %></p>
                    <form action="/shoppingstore/<%=shopcar._id%>/addToPerchaseRecord" method="POST">
                        <button class="btn btn-primary">確認購買</button>
                    </form>
                    <form action="/shoppingstore/<%=shopcar._id%>/RemoveToShopcar" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        <% } %>
    </div>
    



   
