<% layout('layout/boilerplate')%>
    <div class="container">
        <h1>show</h1>
        <div class="card mb-3" >
            <div class="row g-0">
              <div class="col-md-4">
                <img src="<%=commodity.image%>" class="img-fluid rounded-start" alt="">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"> title: <%=commodity.title%></h5>
                    <h5 class="card-title"> price: <%=commodity.price%></h5>
                    <h5 class="card-title"> type: <%=commodity.type%></h5>
                </div>
              </div>
              <div class="container">
                <div class="card-body">
                    <p class="card-text">description: <%=commodity.description%>.</p>
                    <p class="card-text"><small class="text-body-secondary">store: <%=store.storename%></small></p>
                </div>
                <form action="/shoppingstore/<%=commodity._id%>/addToshopcar" method="POST" id="addToshopcar">
                    <div>
                        <div>
                            <label for="num">數量</label>
                            <input type="number" id="num" name="num" min="1" required />
                        </div>
                        <% if ( commodity.type === 'shoes' || commodity.type === 'cloth') { %>
                        <input type="radio" id="XL_Size" name="size" value="XL" required >
                        <label for="XL_Size">XL</label>
                        <input type="radio" id="L_Size" name="size" value="L" required>
                        <label for="L_Size">L</label>
                        <input type="radio" id="M_Size" name="size" value="M" required>
                        <label for="M_Size">M</label>
                        <input type="radio" id="S_Size" name="size" value="S" required>
                        <label for="S_Size">S</label>                
                        <% } %>
                    </div>
                    <button class="btn btn-primary">Buy</button>
                </form>
                <form action="/shoppingstore/<%=commodity._id%>/addToLovelist" method="POST" id="addToLovelist">
                    <button class="btn btn-primary">Love</button>
                </form>
              </div>
                <a href="/shoppingstore/<%=commodity.type%>" class="btn btn-primary" id="back-button" style="max-width: 700px;">Back</a>
            </div>
        </div>
    </div>
    





    
